In [26]:
file1=open("Inventory.txt","w")
file1.close()

PRODUCT DETAILS

1) Product ID
2) Product Name
3) Price of product
4) Quantity

In [19]:
# imoting the time of trasection
import time

# Reading the Inventory
fd = open('Inventory.txt','r')  
products = fd.read().split('\n')
fd.close()

# Taking User Input
ui_username = input("Enter your Name: ")
ui_phone    = input("Enter your Phone No: ")
ui_mail     = input("Enter your Mail: ")
ui_prod_id  = input("Enter product ID: ")
ui_prod_qn  = input("Enter product Quantity: ")

updated_product_lst = []

# Going through each product detail
for product in products:
    prod_details = product.split(',')
    if(prod_details[0] == ui_prod_id):
    # Checking if product exists or not

        if (int(ui_prod_qn) <= int(prod_details[3])):
        # If we're having enough quantity
        
            print("-----------------------------")
            print("Product Name     : ", prod_details[1])
            print("Price            : ", prod_details[2]) 
            print("Quantity         : ", ui_prod_qn) 
            print("-----------------------------")
            print("Billing Amount   : ", int(ui_prod_qn) * int(prod_details[2]))
            print("-----------------------------")

            # Updating Inventory list
            prod_details[3] = str(int(prod_details[3]) - int(ui_prod_qn))
            
            # Generating Sales in Sales.txt
            fd = open("Sales.txt",'a')
            sales_detail = ui_username +","+ ui_phone +","+ ui_mail +","+prod_details[1] +","+ ui_prod_id +","+ ui_prod_qn +","+prod_details[2]+","+ str(int(ui_prod_qn) * int(prod_details[2]))+","+time.ctime()+ "\n"
            fd.write(sales_detail)
            fd.close()
            
        else:
        # If we're not having enough quantity
        
            print("Sorry, We're not having enought quantity.")
            print("We're having only",prod_details[3],'quantity.')
            print("Would you like to purchase it?")
            
            ch = input("Press Y/N: ")
            
            if (ch == 'Y' or ch == 'y'):
            # If you want to purchase with remaining quantity
            
                print("-----------------------------")
                print("Product Name     : ", prod_details[1])
                print("Price            : ", prod_details[2]) 
                print("Quantity         : ", prod_details[3]) 
                print("-----------------------------")
                print("Billing Amount   : ", int(prod_details[3]) * int(prod_details[2]))
                print("-----------------------------")
                
                # Generating Sales in Sales.txt
                fd = open("Sales.txt",'a')
                sales_detail = ui_username +","+ ui_phone +","+ ui_mail +","+prod_details[1] +","+ ui_prod_id +","+prod_details[3]+","+ str(int(prod_details[3]) * int(prod_details[2]))+","+time.ctime()+ "\n"
                fd.write(sales_detail)
                fd.close()
                
                # Updating Inventory list
                prod_details[3] = '0'

            else:
                print("Thanks")
            
    # Updating my Inventory List
    updated_product_lst.append(prod_details)
    
lst = []

# Updating my Inventory String
for i in updated_product_lst:
    prod = i[0] +","+  i[1] +","+ i[2] +","+ i[3] + '\n'
    lst.append(prod)

# Removing Last \n from the list
lst[-1] = lst[-1][:-1]
    

# Updating Inventory File
fd = open('Inventory.txt','w')

for i in lst:
    fd.write(i)
fd.close()

print("Inventory Updated")

Enter your Name:  vaibhav
Enter your Phone No:  9512587463
Enter your Mail:  vaibhavtango92@gmail.com
Enter product ID:  9
Enter product Quantity:  4

-----------------------------
Product Name     :   External Hard Drive
Price            :   129
Quantity         :  4
-----------------------------
Billing Amount   :  516
-----------------------------
Inventory Updated

In [20]:
# importing panda library 
import pandas as pd 
  
# readinag given csv file 
# and creating dataframe 
df = pd.read_csv("Sales.txt") 
  
# storing this dataframe in a csv file 
df.to_csv('Sales.csv',  index = None)

In [24]:
import pandas as pd 
data=pd.read_csv("Sales.csv")
data

          Name   Contact no                    E-mail  ... Price                Total Bill                      Date
0      Bhosale           10     Bhosale0206@gmail.com  ...   398  Thu Apr 25 14:03:18 2024                       NaN
1         dfad         5442                       dws  ...   129                       645  Thu Apr 25 14:06:42 2024
2      Shubham  85231465978       shubham02@gmail.com  ...   299                      1495  Thu Apr 25 17:21:52 2024
3     Shubham1   5647893215           shubh@gmail.com  ...   129                       645  Thu Apr 25 19:21:03 2024
4     Jayshree   5632147895    jayshree0206@gmail.com  ...   598  Tue May 28 18:03:16 2024                       NaN
5  Snehal maam   7531596542    snehalmaam52@gmail.com  ...   399                      1995  Tue May 28 18:20:18 2024
6      vaibhav   9512587463  vaibhavtango92@gmail.com  ...   129                       516  Tue May 28 18:21:25 2024

[7 rows x 9 columns]

In [25]:
data.drop(index=[0,4],inplace=True)

In [26]:
data.to_csv("updated.csv",index=None)

In [27]:
data

          Name   Contact no                    E-mail  ... Price  Total Bill                      Date
1         dfad         5442                       dws  ...   129         645  Thu Apr 25 14:06:42 2024
2      Shubham  85231465978       shubham02@gmail.com  ...   299        1495  Thu Apr 25 17:21:52 2024
3     Shubham1   5647893215           shubh@gmail.com  ...   129         645  Thu Apr 25 19:21:03 2024
5  Snehal maam   7531596542    snehalmaam52@gmail.com  ...   399        1995  Tue May 28 18:20:18 2024
6      vaibhav   9512587463  vaibhavtango92@gmail.com  ...   129         516  Tue May 28 18:21:25 2024

[5 rows x 9 columns]